body {
  font-family: sans-serif;
  background: rgb(224, 222, 222);
  margin: 0px 0px 30px 0px;
}

main {
  display: flex;
}

section {
  flex: 1;
}

h1 {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
}

h2 {
  position: relative;
  font-size: 2rem;
  line-height: 0.9;
  text-align: center;
}

#pets-list a {
  color: #000000;
  text-decoration: none;
}

p {
  margin: 2px;
}

img {
  object-fit: cover;
  width: 40rem;
  height: 40rem;
}

#hero {
  background-image: url("petscover.jpg");
  height: 200px;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

#hero a {
  text-decoration: none;
  color: white;
}

#pets-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.pet-item {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 25%;
}

.pet-item img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border: solid white;
  border-width: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.pet-item img:hover {
  box-shadow: 10px 5px 5px gray;
}

.pet-item p {
  font-size: 20px;
  padding: 5px;
}

.selected img {
  border: solid black;
  box-shadow: 10px 5px 5px gray;
}

.selected {
  font-weight: bold;
}

.pet-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  justify-content: space-around;
}

.pet-profile img {
  object-fit: cover;
  width: auto;
  height: 20rem;
  border: solid white;
  border-width: 4px;
}

.pet-profile .pet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pet-info p {
  padding: 2px;
}

.pet-info span {
  font-weight: bold;
}

button {
  cursor: pointer;
}

#back {
  text-align: center;
}

#addNewPet {
  text-align: center;
  padding: 20px 10px 10px 10px;
}

#addNewPet button {
  font-size: large;
  padding: 5px;
}

#errorPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#errorPage h1 {
  color: black;
  font-size: 2rem;
  margin: 10rem;
}
